body{
    background: lightgray;
}

#title-header{
    background-image: url("http://www.anasfim.com/p/2018/04/background-of-old-vintage-newspapers-stock-photo-ronstik-13732950-inside-newspaper-background-image.jpg");
}

#title-text{
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    color: rgb(0, 0, 0);
    filter: blur(0px);
}

#article-title {
    font-weight: 800;
    font-size: 20px;
}

/* h4{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}